body {
    // For bootstrap nav-bar fixed top
    padding-top: 70px;
}

.navbar.navbar-custom-color, .navbar.navbar-custom-color * {
    background-color: #2fa5b3;
    border-color: #2fa5b3;
    color: #ffffff;
}

.navbar-custom-color .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-custom-color .navbar-toggle .icon-bar {
    background-color: #ffffff;
}