.css-responsive-menu {
    .expand-control {
        display: none;
        cursor: pointer;
    }

    ul.navigation-list {
        list-style: none;

        li {
            display: inline;
        }
    }
}

@media (max-width: 500px) {
    .css-responsive-menu {
        label.expand-control {
            display: inline;
        }

        input[type="checkbox"].expand-control:checked + ul.navigation-list {
           display: block;
        }

        ul.navigation-list {
            display: none;

            li {
                display: block;
            }
        }
    }
}
